<div ng-show="clsDoc.classDocsExist" class="classDocsGrid dataGrid" ng-grid="clsDoc.classDocsList"></div>
<div ng-hide="clsDoc.classDocsExist" class="emptyCollection"><h2>There isn't any documentation for this class yet.</h2></div>