<section class='ng-modal' ng-show='show'>
	<header>
		<div class='ng-modal-close' ng-click='hideModal()'>X</div>
		<span class='ng-modal-title' ng-show='dialogTitle && dialogTitle.length' ng-bind='dialogTitle'></span>
		<!-- next prev navigation, and perhaps eventually a dropdown picker with all files form the parent list -->
	</header>
	<iframe src="{{pathToFile}}" width="100%" style="border: none;"></iframe>
</section>
