<button class="bigAddButton" ui-sref="moduleCreate"><b></b>Add a Module</button>
<div class="itemListWrapper" ng-class="{loaded : prgModules.loaded}" hide-until-loaded>
	<div class="itemContainer">
		<div class="moduleBlock itemBlock" 
			ng-repeat="module in prgModules.programModuleList"
			ng-show="prgModules.programModuleList.length > 0">
			<header>
				<h2>{{module.title}}</h2>
				<a class="action edit" ui-sref="moduleEdit({module: module.slug})">
					<span>edit</span>
				</a>
			</header>
			<article>
				<p class="shortName">Short Name <span>{{module.short_name}}</span></p>
				<p class="unitNumber">Unit Number <span>{{module.unit_number}}</span></p>
				<p class="moduleTeachers">Module Teachers <span>{{module.teachers}}</span></p>
			</article>	
		</div><!-- End class block -->
		<div ng-show="prgModules.programModuleList.length < 1" class="emptyCollection">
			<h2>There aren't any modules in this program yet.</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>
<section class="formContainer" ui-view ng-class="{isVisible : modForm.modal}"></section>

