<header id="pageTop" class="tabBar">
	<h1>{{ prg.programSelection.title }}</h1>
	<nav>
		<ul id="tabs">
			<li ui-sref-active="active">
				<a ui-sref="programClasses">Classes</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programSubmissions">Submissions</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programEnrollment">Enrollment</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programModules">Modules</a>
			</li>
		</ul>
	</nav>  
	<div class="clear"></div>
</header>
<section id="page" ui-view class="tabbedPage"></section>