<header id="pageTop"><h1>Semesters</h1></header>
<section id="page">
	<button class="bigAddButton" ui-sref="semesterCreate"><b></b>Add a Semester</button>
	<div class="itemListWrapper" ng-class="{loaded : semesters.loaded}" hide-until-loaded>
		<div class="itemContainer">
			<div class="itemBlock semesterBlock"
				ng-repeat="semester in semesters.semesterList"
				ng-show="semesters.semesterList.length > 0">
				<h2>{{semester.title}}</h2>
				<p>Starting: <span>{{semester.begins | date:'d-M-yyyy'}}</span></p>
				<p>Ending: <span>{{semester.ends | date:'d-M-yyyy'}}</span></p>
				<a class="action edit" ui-sref="semesterEdit({semester: semester.slug})"><span>edit</span></a>	
			</div><!-- End semester block -->
			<div ng-show="semesters.semesterList.length < 1" class="emptyCollection">
				<h2>There aren't any modules in this program yet.</h2>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
<section class="formContainer" ui-view ng-class="{isVisible : semForm.modal}"></section>
