<section class="itemForm">
	<h2 ng-show="semForm.mode == 'create'">Add a Semester</h2>
	<h2 ng-show="semForm.mode == 'edit'">Edit {{semForm.item.title}}</h2>
	<form name="semesterForm" novalidate>
		<label>Semester Title: </label>
		<input type="text" name="title" 
			ng-model="semForm.item.title" 
			required
			placeholder="Semester Title"/>
		<div class="formRow">
			<label for="start-date">Start Date: </label>
			<quick-datepicker type="datetime" disable-timepicker="true" required
				name="start-date" 
				ng-model="semForm.item.begins" 
				placeholder="Start Date" 
				class="datePicker"></quick-datepicker>
		</div>
		<div class="formRow">
			<label for="end-date">End Date: </label>
			<quick-datepicker type="datetime" disable-timepicker="true" required
				name="end-date" 
				ng-model="semForm.item.ends" 
				placeholder="End Date" 
				class="datePicker"></quick-datepicker>
		</div>
	</form>
	<div ng-show="semForm.message == ''">
		<div class="formButtonBar" ng-show="semForm.mode == 'create'">
			<button type="submit" 
				ng-click="semForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="semesterForm.$invalid">Create Semester</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>

		<div class="formButtonBar" ng-show="semForm.mode == 'edit'" ng-class="{deleting: semForm.deleting}">
			<button type="submit" 
				ng-click="semForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="semesterForm.$invalid">Update Semester</button>
			<button ng-click="semForm.toggleDelete()" class="action delete"><span>Delete Semester</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="semForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="semForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="semForm.message != ''">{{semForm.message}}</div>
</section>

