<ul>
	<li loader id="logoBox" ng-include="'app/webroot/tpl/logo.tpl.html'"></li>
	<li class="navItem submitNav" ui-sref-active="active">
		<a ui-sref="submit"><span>Submit your work</span></a>
	</li>
	<li class="navItem mySubmissionsNav" ui-sref-active="active">
		<a ui-sref="mysubmissions"><span>My Submissions</span></a>
	</li>
	<!-- <li class="navItem extCodesNav" ui-sref-active="active">
		<a ui-sref="extCodes"><span>Extension Codes</span></a>
	</li> -->
</ul>