<p>
	Hi {{globals.userInfo.first_name}}! 
	<a class="action userToolsIcon" ng-click="globals.state.toggleUserTools()">
		<span>User Tools</span>
	</a>
</p>
<div id="userTools" ng-show="globals.state.userToolsVisible">
	<section id="tools">
		<ul>
			<li>
				<a ui-sref="profile" class="action profileLink">My Profile</a>
			</li>
			<li>
				<a href="logout" target="_self" class="action logoutLink">Logout</a>
			</li>
		</ul>
	</section>
	<!-- <section id="notificationList">
		<ul>
			<li><a class="action message unread">New users in your class</a></li>
			<li><a class="action message unread">You have late assignments pending approval</a></li>
			<li><a class="action message read">New teacher in unit</a></li>
			<li><a class="action message read">Your hair is burning</a></li>
			<li><a class="action message read">New submissions</a></li>

		</ul>
		<a class="action markAllViewed">Mark all as viewed</a>
	</section> -->
</div> 
