<header id="pageTop"><h1>Registered Users</h1></header>
<section id="page">
	
	<button class="bigAddButton" ui-sref="createUser"><b></b>Add a New User</button>
	<table class="userGrid dataGrid" 
		st-table="users.displayList"
		st-safe-src="users.usersList">
		<thead>
			<tr>
				<th colspan="7" class="searchBar">
					<button ui-sref="importUsers">Import users as Json</button>
					<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
				</th>
			</tr>
			<tr>
				<th class="colHeader" st-sort="first_name">First Name</th>
				<th class="colHeader" st-sort="last_name">Last Name</th>
				<th class="colHeader" st-sort="email">Email</th>
				<th class="colHeader" st-sort="status">Status</th>
				<th class="colHeader" st-sort="created">Created</th>
				<th class="colHeader">Roles</th>
				<th class="colHeader"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in users.displayList">
				<td>{{row.first_name}}</td>
				<td>{{row.last_name}}</td>
				<td>{{row.email}}</td>
				<td>{{row.status | makeUserStatus}}</td>
				<td>{{row.created | date:'d-M-yyyy'}}</td>
				<td><span class="userRole" ng-repeat="role in row.roles_users">{{role.role_id | makeUserRole}}{{$last ? '' : ', '}}</span></td>
				<td>
					<a ui-sref="editUser({user: row.id})" class="editUser">Edit</a>
				</td>
			</tr>
		</tbody>
	
	</table>
</section>
<section class="formContainer" ui-view ng-class="{isVisible : userForm.modal}"></section>

