<div>
	<header class="tableHead">
		<h2>Students</h2>
		<!-- <button class="sync action">Sync With Admissions</button> -->
	</header>
	<table class="userGrid dataGrid" 
		st-table="prgEnroll.displayList"
		st-safe-src="prgEnroll.enrollment">
		<thead>
			<tr>
				<th colspan="7" class="searchBar">
					<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
				</th>
			</tr>
			<tr>
				<th class="colHeader" st-sort="first_name">First Name</th>
				<th class="colHeader" st-sort="last_name">Last Name</th>
				<th class="colHeader" st-sort="email">Email</th>
				<th class="colHeader" st-sort="status">Status</th>
				<th class="colHeader" st-sort="created">Created</th>
				<th class="colHeader"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in prgEnroll.displayList">
				<td>{{row.first_name}}</td>
				<td>{{row.last_name}}</td>
				<td>{{row.email}}</td>
				<td>{{row.status | makeUserStatus}}</td>
				<td>{{row.created | date:'d-M-yyyy'}}</td>
				<td>actions</td>
			</tr>
		</tbody>
	
	</table>
</div>