
// --------------------------------- ITEM BLOCK LISTS ---------------------------------

// break this up further, but include related things here. 

.emptyCollection{
	padding: 60px;
	text-align: center;
	font-size: 1.2em;
	width: 100%;
}

button.action.add {
	@include btnsprite;
	background-position: $bc1 $br2;
	background-color: transparent;
	top: -4px;
	position: relative;
	margin: 0 0 0 7px;
	padding: 11px;

	:hover {
		background-color: transparent;
		opacity: 0.8;
	}
}

// global block styles

.itemBlock {
	@extend %itemBlockWidth;
	margin: 1%;
	float: left;
	width: 48%;
	position: relative;
	padding: 15px;	
	background-color: $ltltgrey;

	h2 {
		font-size: $bigtype;
		width: 100%;
		display: inline-block;
		padding: 15px;
		color: $color1;
	}

	p {
		display: inline-block;
		color: $dkgrey;
		position: relative;
		width: 200px;
		float: left;
		margin: 5px 0;

		span {
			color: $color1;
			font-style: italic;
		}
	}

	article {
		font-size: $normtype;
	}
}

// begin individual blocks


.semesterBlock {
	background: $ltgrey;
	border-left: 10px solid $color1;
	// width: $span12;
	box-sizing:border-box;
	-moz-box-sizing:border-box;

	.front > div, .back > div {
		padding: 10px;
	}

	h2 {
		margin-bottom: 10px;
		float: left;
		padding: 0;
	}
}

.programBlock.tempProgramBlock {
	height: auto;
	padding: 0;

	.programDataLeft, .programDataRight {
		height: auto;
	}

	.programDataLeft {
		width: 70%;
	}

	.programDataRight {
		width: 30%;
	}
}

.programBlock{
	
	header{
		background: $color1;

		h2{
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// ths is not used now, and not responsive. Start here when integrating full data back in.
	.programDataLeft {
		width: 368px;
		height: 170px;
		text-align: center;

		p {
			padding: 10px 0 0 20px;
			text-align: left;
		}

		.programEnrollments {
			padding: 20px 20px 0 20px;
			width: 152px;
			border-right: 1px solid $color1;

			> figure {
				height: 100px;
			}

			h4 {
				width: 60px;
				float: left;
				color: $midgrey;

				span {
					font-size: 5em;
					font-family: $condensed;
				}
			}

			h5 {
				float: left;
				padding: 25px 5px;
				font-size: $smalltype;
				color: lighten($midgrey, 10%);
			}
		}

		.programSubmissions {
			padding: 20px 20px 0 20px;
			width: 130px;

			> figure {
				height: 100px;
				top: -28px;
				position: relative;

				.condensed {
					font-size: 3.5em;
					color: white;
				}
			}
		}
	}

	.programDataRight {
		background: $ltgrey;
		width: 92px;
		height: 170px;

		h4 {
			color: $midgrey;
			text-align: center;
			margin-top: 13px;
			margin-bottom: 17px;

			span {
				font-size: 3.5em;
				font-family: $condensed;
				display: block;
				margin-bottom: 5px;
			}
		}
	}

	svg {
		.subsPie {
			fill: $color1;
		}

		.latePie {
			fill: $color2;
		}

		.allPie {
			fill: $midgrey;
		}
	}
}

.moduleBlock {
	padding: 0;

	header{
		border-top: 10px solid $color1;

		h2 {
			color: $color1;
		}
	}

	article {
		p {
		padding: 0 0 15px 15px;
		text-align: left;

		span {
				color: $color1;
				font-weight: 400;
			}
		}
		.shortName, .unitNumber {
			display: inline-block;
			width: 190px;
		}
	
		section {
			padding: 10px;
			background: $ltgrey;
		}
	}
}

.classBlock {
	padding: 0;

	header{
		border-top: 10px solid $color1;
		cursor: pointer;

		h2 {
			color: $color1;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	article {

		p {
			padding: 0 0 0 10px;
			text-align: left;
		}

		.dates, .unit {
			display: inline-block;
		}
		
		.dates {
			width: 200px;

			span {
				color: $color2;
				font-weight: 400;
			}
		}

		.classLeft{
			width: 70%;
			padding-top: 0;
		}

		.classRight {
			width: 30%;
			background: $ltgrey;
			height: 100%;
			// position: absolute;
			// uncomment this when there is more data for MC class.
		}

		section {
			padding: 10px;
			display: inline-block;

			figure {

				span{
					color: $midgrey;
					font-size: $bigtype;
					margin-right: 5px;
				}

				a {
					position: relative;
					bottom: 2px;
				}
			}
		}
	}
}

.assignmentBlock { 
	padding: 0; 
	background: $ltltgrey;
	box-sizing:border-box;
	-moz-box-sizing:border-box;

	header {
		margin-bottom: 5px;

		h2 {
			font-size: $bigtype;
			display: inline-block;
			width: 395px;
		}
	}

	p {
		display: block;
		color: $dkgrey;
		position: relative;
		margin-bottom: 15px;
		font-size: $normtype;
		float: none;
		padding: 0 15px; 
		width: 100%;

		span {
			color: $color1;
			font-style: italic;
		}
	}

	progress {
		width: 100%;
		display: block;
	}

	&.openAssignment {

		header h2 {
			color: $color1;
		}
		
		figure .progressBar {
			background: $color2;
		}
	}

	&.closedAssignment {
		header h2 {
			color: $dkgrey;
		}

		figure .progressBar {
			background: $dkgrey;
		}
	}

	figcaption {
		display: block;
		font-size: $normtype;
		text-align: center;
	}

	.submissionsFooterBar {
		padding: 10px;
		background: $ltgrey;
		margin-top: 15px;
		font-style: italic;
		font-size: $normtype;

		.viewSubmissions {
			// float: left;
			color: $color1;
		}

		.downloadLink {
			// float: right;
			float: right;
		}
	}

	.subsAccordion {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s;
	}

	&.subsOpen {

		.subsAccordion {
			max-height: 800px;
			overflow: scroll;
		}
	}
}

