button.downloadLink {
	width: 25px;
	height: 25px;
	display: inline-block;
	@include uisprite;
	background-position: $blue $manyzip;
	background-color: transparent;

	&:hover {
		background-position: $orange $manyzip;
		background-color: transparent;
	}
}

.edit{
	display: inline-block;
	width: 20px;
	height: 20px;
	@include uisprite;
	background-position: $blue $gear;
	margin: 15px 10px 0 0;
	position: absolute;
	right: 0px;
	top: 0;

	&:hover {
		background-position: -479px -159px;
	}

	&.white {
		background-position: $white $gear;

		&:hover {
			background-position: $whitehover $gear;
		}
	}
}

button {
	@include trans;
	@include rounded;
	background-color: $color1;
	color: white;
	padding: 10px;
	border: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;

	&:hover {
		background-color: lighten($color1, 10%);
	}

	&:disabled {
		background-color: #969696;
		color: #D1D1D1;

		&:hover {
			
		}
	}
}

button.delete {
 	background-color: transparent;
 	@include uisprite;
 	background-position: -395px -234px;
 	height: 30px;
	width: 25px;
	margin-left: 20px;
	z-index: 200;
	position: relative;
 }

 button.ui-datepicker-trigger{
 	background-color: transparent;
 	padding: 0;
 	display: inline-block;
 	height: 18px;
 	width: 25px;
 	@include uisprite; 
 	background-position: 5px $cal;
 	margin: 0 15px 0 0px;
	top: 2px;
	position: relative;

 	&:hover {
 		background-position: $bluehover $cal;
 	}
 }


.downloadLink {
	// add icon, and color for span inside
	color: $color1;

	i {
		color: $midgrey;
	}
}

.cancel {
	color: $dkgrey;
	text-decoration: underline;
	font-size: $normtype;
	font-style: normal;
	margin-left: 5px;

	&:hover {
		color: $midgrey;
	}
}


button[type=submit] {
	position: relative;

	b {
		z-index: 50;
		opacity: 1;
		transition: all 0.4s ease;
		display: inline-block;
	}

	&.buttonSaving {

		.saveLoader {
			opacity: 1;
		}

		b {
			opacity: 0;
			-ms-transform: scale(0.5); /* IE 9 */
			-webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
			transform: scale(0.5);
		}
	}
}

@-moz-keyframes loader1{
    0% { 
    	-moz-transform: scale(0); 

    }
    100% { 
    	-moz-transform: scale(1); 
    }
}

@-webkit-keyframes loader1{
    0% { 
    	-webkit-transform: scale(0);

    }
    100% { 
    	-webkit-transform: scale(1);
    }
}

@-o-keyframes loader1{
    0% { 
    	-o-transform: scale(0);

    }
    100% { 
    	-o-transform: scale(1);
    }
}

.saveLoader {
	transition: all 0.4s ease;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -10px;
    vertical-align: middle;
    background-color: white;
    opacity: 0;
    z-index: 0;
}

.saveLoader:before {
    content: '';
    border: 5px solid $color1;
    top: -5px;
    left: -5px;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    position: absolute;

    -webkit-animation: loader1 1s ease infinite;
   	-moz-animation: loader1 1s ease infinite;
    -ms-animation: loader1 1s ease infinite;
     -o-animation: loader1 1s ease infinite;
        animation: loader1 1s ease infinite;
}


// --------------------------------- bubble css ---------------------------------

.bubble {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	color: $dkgrey;
	background-color: $editcolor;
	@include rounded;
	// font-size: $normtype;
}

.bubble:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: $editcolor rgba(0, 0, 0, 0);
	display: block;
	width: 0;
}

.bubble.leftpoint {
	margin-left: 19px;
	background-color: $editcolor;
}

.bubble.leftpoint:after {
	top: 16px;
	left: -19px;
	bottom: auto;
	border-width: 10px 19px 10px 0;
	border-color: rgba(0, 0, 0, 0) $editcolor;
}

.bubble.rightpoint {
	margin-right: 19px;
	background-color: $editcolor;
}

.bubble.rightpoint:after {
	top: 16px;
	right: -19px;
	bottom: auto;
	left: auto;
	border-width: 10px 0 10px 19px;
	border-color: rgba(0, 0, 0, 0) $editcolor;
}
