// styles for main content area

.pageWidth {
	float: left;
	margin-left: 0;
	@extend %grid-10;
	@extend %tablet_grid-9;
	@extend %mobile_grid-3-4;
	padding: 60px 10px 0;
}

.content{
	padding-top: 60px;
}

.content.class{

	#page {
		@include shadowShort;
		width: 100%;
		// background: white;
		border-top: 5px solid $color1;
	}
}

#page {
	@include shadowShort;
	width: 100%;
	background: white;
	border-top: 5px solid $color1;
	padding: 10px;

	> div{
		overflow: visible;
	}

}

@media only screen and (max-width: 724px) {

	section.pageWidth.studentContent, section.content.pageWidth {
		width: 100%;
		padding-left: 90px;
		position: absolute;
	}

}
