// --------------------------------- loader animation ---------------------------------

@keyframes spin {
  100%{ transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100%{ transform: rotate(360deg); }
}

@-moz-keyframes spin {
  100%{ transform: rotate(360deg); }
}

@-o-keyframes spin {
  100%{ transform: rotate(360deg); }
}

.loadingSpinner {
	width: 50px;
	height: 50px;
	margin: 30px auto 20px;
	border: 1px solid $ltgrey;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px $color1;
	-webkit-animation: spin 600ms infinite linear;
	-moz-animation: spin 600ms infinite linear;
	-o-animation: spin 600ms infinite linear;
	animation: spin 600ms infinite linear;
}


.itemListWrapper {
	
	.loadingSpinner {
		transition: all 0.2s;
		opacity: 1;
	}

	.itemContainer {
		transition: all 0.3s;
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
	}

	&.loaded {
		.loadingSpinner {
			opacity: 0;
			margin: 0 auto;
			height: 0;
		}

		.itemContainer {
			max-height: 100000px;
			opacity: 1;
		}
	}

}