// styles for status messages

#mc-messages-wrapper {
	position: fixed;
	z-index: 10000;
	text-align: center;
	width: 100%;
	top: 40px;

	.alert {
		padding: 10px;
		font-size: 1.2em;
		// @include transition-property(opacity);
		// @include transition-duration(0.3s);

		a.close {
			display: inline-block;
			height: auto;
			top: 1px;

			svg {
				height: 17px;
				width: auto;
			}
		}
	}

	.alert-danger {
		background-color: rgba($warncolor, 0.8);
		color: white;
	}

	.alert-warning {
		background-color: rgba($editcolor, 0.8);
		color: $warncolor;

		svg path {
			fill: $warncolor;
		}
	}

	.alert-info {
		background-color: rgba($color1, 0.8);
		color: white;
	}

	.alert-success {
		background-color: rgba($okcolor, 0.8);
		color: white;
	}

}