// person menu styles: 

span.personMenu {
	cursor: pointer;
	border-bottom: 1px dotted $color1;
	color: $color1;
	margin-right: 10px;

	.bubble {
	    transition: opacity 0.5s, left 0.5s,  visibility 0.5s;
	    position: absolute;
	    left: 80%;
	    top: -110%;
	    min-width: 110px;
	    padding: 2px 7px;
	    background-color: $color1;
	    opacity: 0;
	    visibility: hidden;
	    color: white;
	    z-index: 1000;

		.cancel {
			color: white;
		}

		a {
			color: white;
			letter-spacing: 0.2px;
			border-bottom: 1px dotted white;
		}

		&.leftpoint:after {
			top: 6px;
			left: -10px;
			border-width: 8px 12px 8px 0;
			border-color: rgba(0, 0, 0, 0) $color1;
	    }
	}

	&.personMenuOpen {
	 	
		.bubble {
	 		opacity: 1;
	 		left: 100%;
	 		visibility: visible;
	 	}
	}
}
	