// --------------------------------- PROFILE  ---------------------------------

#page.profilePage {
	border-top: 5px solid $color2;

	.profileWrapper {
		@extend %grid-10;
		@extend %tablet_grid-10;
		@extend %mobile_full;
		margin: 40px auto;
		// padding-bottom: 25px;

		section {
			@extend %grid-6;
			@extend %tablet_grid-6;
			@extend %mobile_full;
			padding: 0 0 0 10px;
			float: left;
			margin-bottom: 20px;

			&:first-child {
				padding: 0 10px 0 0;
			}
		}
	}

	h2 {
		font-size: $bigtype;
		border-bottom: 1px solid $color1;
		padding-bottom: 5px;
	}

	h3 {
		font-size: $midtype;
		margin-top: 20px;
		padding: 5px 0;
		color: $color1;
	}

	.linkButton {
		margin: 10px 0;
		padding: 0 0 3px 0;
		background-color: transparent;
		color: $color1;
		border-radius: 0;
		border-bottom: 1px solid $color1;

		&:hover {
			color: $color2;
		}
	}

	label {
		font-size: $midtype;
		margin-top: 20px;
		padding: 5px 0;
		display: block;
	}

	input[type="text"], input[type="email"], input[type="password"]{
		width: 100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}

	h4 {
		color: $color1;
		font-style: italic;
		font-size: $normtype;
		margin-top: 10px;
	}

	p {
		margin-top: 10px;
		font-size: $normtype;
	}

	ul li {
		margin-top: 10px;
		color: $color1;
		padding: 5px;

		&.classListHead {
			color: $dkgrey;
		}

		.noAssignments {
			background: transparent;
			text-align: center;
			color: $midgrey;
		}

		h3 {
			border-bottom: 4px solid $color1;
			margin-top: 0;

			span {
				float: right;
				font-size: 0.8em;
				color: $midgrey;
			}
		}

		ul {
			// border-left: 1px solid $midgrey;
	
			li{
				font-size: 1em;
				color: $midgrey; 
				font-style: italic;
				padding-left: 0;

				span {
					@include uisprite;
					background-position: $navgrey $assignment;
					padding-left: 28px;
				}

			}
		}
	}

	ul.notificationOptions {
		margin-bottom: 20px;

		li {
			margin: 0;

			label{
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 724px) {

	#page.profilePage .profileWrapper section {
		padding: 15px !important;
	}

}