// --------------------------------- SIDEBAR 

#sidebar.studentSidebar {
	// this currently only overrides the student view.
	@extend %grid-2;
	@extend %tablet_grid-3;
	position: relative;
	float: left;
	margin: 0;
}

#sidebar {
	background: white;
	@extend %grid-2;
	@extend %tablet_grid-3;
	position: relative;
	float: left;
	margin: 0;
	z-index: 500;

	#logoBox {
		// height: 100px;
		background: $color1;
		padding: 20px 0;

		svg {
			width: 70%;
			margin: 0 auto;
			position: relative;
			display: block;
			max-width: 115px;

			#type {
				@extend %mobile_none;
			}

			.icon {
				-ms-transform-origin: 50% 50%; /* IE 9 */
			    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
			    transform-origin: 50% 50%;
			}
		}
	}

	.navItem > a{
		@include uisprite;
	}

	.navItem span {
		@extend %mobile_none;
	}

	ul{
		li.navItem{

			&.active {
				background-color: $color2;
				color: white;

				&:hover {
					background-color: $color2;
				}

				&>a {
					color: white;
				}
			}

			&:hover {
				background-color: $ltgrey;
			}

			a {
				color: $dkgrey; 
				font-style: normal;
				display: block;
				padding: 14px 0 14px 40px;
				font-size: $midtype;

				&.accordionNav {
					width: 80%;
					display: inline-block;
				}
			}

			.accordionArrow{
				@extend %mobile_none;
				display: inline-block;
			    @include btnsprite;
			    background-position: -304px -943px;
			    background-color: white;
				position: absolute;
				width: 20%;
				height: 100%;
				cursor: pointer;

				&:hover {
			    	background-color: $color1;
			    	background-position: -944px -943px;
			    }

			    &.open {
			    	background-position: 13px -939px;

			    	&:hover {
				    	background-position: -628px -939px;
				    }
			    }
			}

			ul {

				li.accordionItem {
					border: none;
					background: $ltltgrey;
					color: $dkgrey;

					&.active{
						color: white;
						background: $color2;
					}

					a{
						padding: 10px 0 10px 40px;
						font-size: $normtype;
						display: block;

						&:hover {
							background: $ltgrey;
						}
					}
				}
			}
		}
	}

	.myClassesNav {
		&.active a{
			background-position: $navwhite $myclasses;
		}

		a{
			background-position: $navblue $myclasses;

			&:hover {
				background-position: $navwhite $myclasses;
			}
		}
	}

	.semestersNav {
		&.active a{
			background-position: $navwhite $semester;
		}

		a{
			background-position: $navblue $semester;
			
			&:hover {
				background-position: $navwhite $semester;
			}

			
		}
	}

	.programsNav {
		&.active a{
			background-position: $navwhite $program;
		}

		a{
			background-position: $navblue $program;

			&:hover {
				background-position: $navwhite $program;
			}
		}
	}

	.programClassesNav {
		&.active a{
			background-position: $navwhite $class;
		}

		a{
			background-position: $navblue $class;

			&:hover {
				background-position: $navwhite $class;
			}
		}
	}


	.usersNav {
		&.active a{
			background-position: $navwhite $users;
		}

		a{
			background-position: $navblue $users;

			&:hover {
				background-position: $navwhite $users;
			}
		}
	}

	.extCodesNav {
		&.active a{
			background-position: $navwhite $ext;
		}

		a{
			background-position: $navblue $ext;

			&:hover{
				background-position: $navwhite $ext;
			}
		}
	}

	.submitNav {
		&.active a{
			background-position: $navwhite $submission;
		}

		a{
			background-position: $navblue $submission;

			&:hover{
				background-position: $navwhite $submission;
			}
		}
	}

	.mySubmissionsNav {
		&.active a{
			background-position: $navwhite -1264px;
		}

		a{
			background-position: $navblue -1264px;

			&:hover{
				background-position: $navwhite -1264px;
			}
		}
	}
}

@media only screen and (max-width: 724px) {

	#logoBox .logoContainer {
		width: 50px;
		height: 50px;
		margin: 0 auto;
		position: relative;
	}

	#sidebar #logoBox svg {
		width: 150px;
		max-width: 150px;
	}

	#sidebar ul li.navItem {
		text-align: center;
		
		&>a {
			padding: 20px 20px 30px;
			display: inline-block;
			-ms-transform: scale(1.3); /* IE 9 */
		    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
		    transform: scale(1.3);
		}

	}

	nav#sidebar, nav#sidebar.studentSidebar {
		width: 80px;
	}

	nav#sidebar ul li.navItem a.accordionNav {
		width: auto;
	}

}

@keyframes loadSpinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadSpinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loading svg .icon {	
	animation-name: loadSpinner;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: loadSpinner;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;

}
