.classSelection {
	background-color: $color1;
	padding: 25px;
	text-align: center;

	h2 {
		font-size: 1.2em;
		color: white;
		margin-right: 15px;
		display: inline-block;
		top: 3px;

	}

	.select2-container {
		margin: 0 auto;
		background: white;
		border-radius: 5px;
		font-size: 1.2em;

		.select2-chosen {
			height: auto;
			padding: 10px 15px;
		}

		.select2-arrow b {
			background-position: $bc1 -942px;
		}
	}
}

.submitBox {
	padding: 10px 0;

	&.dropping {

		.fileDropZone {
			-webkit-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 1);
			-moz-box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 1);
			box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 1);
		}
	}

	.fileDropZone {
		border: 5px solid $color2;
		padding: 50px 20px;
		color: $color2;
		text-align: center;
		background-color: white;
		transition: all 0.3s;

		h3, h4 {
			margin-bottom: 20px;
		}

		h3 {
			font-size: 1.5em;
		}
	}

	table {
		margin-top: 20px;
		width: 100%;
		table-layout:fixed;

		th {
			font-size: 0.8em;
			padding-bottom: 10px;
		}

		tr{
			border-bottom: 1px solid $dkgrey;
		}

		td{
			padding: 10px 0;
			overflow: hidden;

			progress {
				width: 90%;
			}
		}

		.submissionFileRow {
			font-size: 0.9em;
		}

		.rowIndex {
			width: 3%;
			color: white;
		}

		.fileName {
			width: 40%;
		}

		.fileSize {
			width: 10%;
		}

		.fileStatus {
			span {
				color: $midgrey;
			}
		}

		.fileinfo{
			width: auto;
		}

		.fileButtons {
			width: 50px;
		}

		.fileButtonBar {
			text-align: right;
		}

		.fileIcon {
			width: 30px;
			height: 30px;
			display: inline-block;
			@include uisprite;
			float: right;
		}

		.removeFile {
			
			background-position: -394px -233px;

			&:hover {
				background-position: $redhover $trash;
			}
		}

		.pauseFile {
			
			background-position: $orangehover $sync;
		}

		.resumeFile {
			
			background-position: $orange $sync;
		}
	}

	.submitFormButtons, .submissionInfo, .submitFormStatement{
		margin-top: 20px;
	}

	.submitFormStatement {
		margin: inherit auto;
		min-width: 100px;
		background-color: $ltgrey;
		padding: 15px 20%;
		transition: all 0.3s;
		max-height: 300px;

		&.checked {
			background: -moz-linear-gradient(top,  rgba(42,179,216,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,179,216,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(42,179,216,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(42,179,216,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(42,179,216,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(42,179,216,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab3d8', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
			color: white;
			max-height: 70px;
			overflow: hidden;
			
		}

		input {
			display: block;
			margin: 0 auto;
			text-align: center;
			transform: scale(1.5);
			-webkit-transform: scale(1.5);
		}

		p {
			margin-top: 10px;
			font-size: 1.1em;
			line-height: 1.4em;
			display: block;
		}

	}

	.submissionInfo {
		span {
			margin-right: 15px;
			color: $color1;
		}
	}

	.submitFormButtons{
		text-align: center;

		.submitButton {
			font-size: 1.5em;
			font-weight: 100;
		}
	}

	.submitAgainBar {

		&.uploadErrors{
			h3 {
				background: $warncolor;
			}
		}

		&.uploadSuccess {
			h3 {
				background: $okcolor;
			}
		}

		h3 {
			font-size: 1.3em;
			color: #FFF;
			font-style: italic;
			padding: 15px;
			margin-bottom: 20px;
		}

		p{
			margin-bottom: 15px;
		}

	}
}