// --------------------------------- Global PAGE Objects ---------------------------------

#topbar{
	z-index: 300;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 12px 10px;
	font-size: $midtype;

	#notificationArea{

	}

	p {
		color: $dkgrey;
		text-align: right;

		span{
			color: $color2;
		}
	}
}

.userToolsIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	float: right;
	margin-left: 20px;
	top: 3px;
	@include uisprite;
	background-position: $blue $gear;

	&:hover {
		background-position: $bluehover $gear;
	}
}

#userTools:after {
	content: "";
	position: absolute;
	bottom: -15px;
	border-width: 15px 15px 0;
	display: block;
	width: 0;
	top: -19px;
	right: 0;
	bottom: auto;
	border-top: 0 solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 19px solid $color1;
}

#userTools {
	position: absolute;
	width: 185px;
	height: auto;
	right: 10px;
	top: 60px;
	background: $ltgrey;
	@include shadowTall;
	z-index: 1000;

	section {
		display: block;

		&#tools {
			background-color: $color1;

			li {
				display: inline-block;
				width: 48%;

				a {
					display: block;
					color: white;
					padding: 60px 10px 10px 10px;
					@include uisprite;
					text-align: center;

					&.profileLink {
						background-position: -215px -2223px;
					}

					&.logoutLink{
						background-position: -213px -2146px;
					}
				}
			}
		}

		&#notificationList {
			padding: 10px;
			font-size: $normtype;

			ul {

				li {
					margin: 0 0 10px 0px;
					
					color: black;

					.read {
						font-style: normal;
						color: $midgrey;
					}

					.read:before {
						content: "";
						position: relative;
						display: inline-block;
						width: 10px;
						height: 10px;
						@include rounded;
						background:	$midgrey;
						margin-right: 6px;
					}

					.unread {
						text-decoration: underline;
					}

					.unread:before {
						content: "";
						position: relative;
						display: inline-block;
						width: 10px;
						height: 10px;
						@include rounded;
						background:	$color1;
						margin-right: 6px;
					}
				}
			}

			.markAllViewed {
				text-align: center;
				display: block;
				border-top: 1px solid $color1;
				padding: 6px 0 0 0;
			}
		}
	}
}