// --------------------------------- VARS AND MIXINS ---------------------------------

// --------------------------------- colors
$color1: #2AB3D8;
$ltcolor1: #8fbdd8;
$color2: #F3805F;
$dkgrey: #4e4a44;
$midgrey: #757872;
$ltgrey: #eaeaea; 
$ltltgrey: #F5F5F5;
$roweven: #e3e3e3;
$rowodd: #e9e9e9;
$rowselected: #8fbdd8;
$warncolor: #E2504A; 
$okcolor: #90BE5E;
$editcolor: lighten($color1, 30%);
$focus: #F5FBFF;

// --------------------------------- fonts
$bigbigtype: 1.7em;
$bigtype: 1.5em;
$midtype: 1em;
$normtype: 0.8em;
$smalltype: 0.6em;
$condensed: 'Open Sans Condensed', sans-serif;

// --------------------------------- grid widths
$span2:140px;
$span3:220px;
$span6:460px;
$span5:380px;
$span10:780px;
$span12:940px;
$spanall: 960px;


// --------------------------------- sprite positions

$blue: 0;
$orange: -80px;
$grey: -160px;
$white: -240px;
$green: -320px;
$red: -400px;

$bluehover: -480px;
$orangehover: -560px;
$greyhover: -640px;
$whitehover: -720px;
$greenhover: -800px;
$redhover: -880px;

$navblue: 7px;
$navorange: -313px;
$navgrey: -644px;
$navwhite: -953px;

$admin: -1840px;
$assignment: -1279px;
$attachment: -560px;
$cal: -400px;
$class: -1027px;
$close: -80px;
$ev: -1920px;
$ext: -1507px;
$gear: -160px;
$logout: -2160px;
$mail: -480px;
$manyzip: -880px;
$module: -1200px;
$myclasses: -1345px;
$ok: -720px;
$plus: 0;
$profile: -2240px;
$progleader: -1760px;
$program: -1425px;
$semester: -1666px;
$serv: -2000px;
$submission: -1106px;
$sync: -320px;
$teacher: -2080px;
$trash: -240px;
$upload: -960px;
$users: -1585px;
$warn: -640px;
$zip: -800px;

// btn sprite positions - not in a strict grid so these are not so nicely logical :p

$br1: 0px;
$br2: -80px;
$br3: -160px;
$br4: -240px;
$br5: -320px;
$br6: -400px;
$br7: -480px;
$br8: -560px;
$br9: -640px;
$br10: -720px;
$br11: -800px;
$br12: -880px;
$br13: -947px;
$br14: -947px;
$br15: -947px;

$bc1: 0px;
$bc2: -320px;
$bc3: -640px;
$bc4: -960px;


// --------------------------------- sprite positions

$duration: 500ms;
$perspective: 600;


@mixin shadowShort {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15);
}

@mixin shadowTall {
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}

@mixin rounded {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

@mixin trans {
	transition: color 0.1s ease-in;
	-webkit-transition: color 0.1s ease-in;
}
// dimension / 16 = EMs –– 16px per EM
@mixin uisprite{
	background-image: url("../img/ui-sprite.svg");
	background-repeat: no-repeat;
	background-size: 65em 146.25em;
	-o-background-size: 65em 146.25em;
	-moz-background-size: 65em 146.25em;
	-webkit-background-size: 65em 146.25em;
	font-size: 16px;
}

@mixin btnsprite {
	background-image: url("../img/btn-sprite.svg");
	background-repeat: no-repeat;
	background-size: 62.5em 85.90625em;
	-o-background-size: 62.5em 85.90625em;
	-moz-background-size: 62.5em 85.90625em;
	-webkit-background-size: 62.5em 85.90625em;
	font-size: 16px;
}