<div class="classBlock myclassBlock itemBlock" 
	ng-repeat="classObj in mcClasses.classList">
	<header>
		<h2 ui-sref="myClassesClassAssignments({semester: globals.currentSemester, class: classObj.slug})">{{classObj.title}}</h2>
	</header>
	<article>
		<section class="left classLeft">
			<p class="dates">Ending: <span>{{classObj.ends | date:'d-M-yyyy'}}</span></p>
			<!-- <p class="unit">Unit: {{classObj.module.title}}</p> -->
		</section>
		<section class="right classRight">
			<figure>
				<a ui-sref="myClassesClassEnrollment({semester: globals.currentSemester, class: classObj.slug})">Students</a>
			</figure>
			<figure>
				<a ui-sref="myClassesClassAssignments({semester: globals.currentSemester, class: classObj.slug})">Assignments</a>
			</figure>
		</section>
		<div class="clear"></div>
	</article>
</div><!-- End class block -->
<div ng-hide="mcClasses.myClassesExist" class="emptyCollection"><h2>You don't have any classes!</h2></div><div class="clear"></div>