<div ng-show="clsFeed.classFeedbackExist"class="classFeedbackGrid dataGrid" ng-grid="clsFeed.classFeedbackList"></div>
<div ng-hide="clsFeed.classFeedbackExist" class="emptyCollection"><h2>There isn't any feedback for this class yet.</h2></div>
