<div class="itemListWrapper" ng-class="{loaded : mcClsEnroll.loaded}" hide-until-loaded>
	<div class="itemContainer">
		<div ng-show="mcClsEnroll.classEnrollments.length > 0">
			<table class="userGrid dataGrid" 
				st-table="mcClsEnroll.displayList"
				st-safe-src="mcClsEnroll.studentList">
				<thead>
					<tr>
						<th colspan="7" class="searchBar">
							<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
						</th>
					</tr>
					<tr>
						<th class="colHeader" st-sort="first_name">First Name</th>
						<th class="colHeader" st-sort="last_name">Last Name</th>
						<th class="colHeader" st-sort="email">Email</th>
						<th class="colHeader"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in mcClsEnroll.displayList">
						<td>{{row.first_name}}</td>
						<td>{{row.last_name}}</td>
						<td>{{row.email}}</td>
						<td>
							<a ui-sref="editUser({user: row.id})" class="editUser">View Submissions</a>
						</td>
					</tr>
				</tbody>

			</table>
			<div ng-show="mcClsEnroll.classEnrollments.length < 1" class="emptyCollection">
				<h2>There aren't any students enrolled in this class.</h2>
			</div>
		</div>
	</div>
</div>

