<div ng-hide="mysubmits.subsList.length > 0" class="emptyCollection">
	<h2>You don't have any submissions yet.</h2>
</div>

<table class="submissionsGrid dataGrid" 
	ng-show="mysubmits.subsList.length > 0"
	st-table="mysubmits.displayList"
	st-safe-src="mysubmits.subsList">
	<thead>
		<tr>
			<th colspan="7" class="searchBar">
				<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
			</th>
		</tr>
		<tr>
			<th st-sort="assignment.class.title">Class</th>
			<th st-sort="assignment.name">Assignment</th>
			<th st-sort="created">Submission Date</th>
			<th st-sort="name">file</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in mysubmits.displayList">
			<td>{{row.assignment.class.title}}</td>
			<td>{{row.assignment.name}}</td>
			<td >{{row.created | date:'d-M-yyyy'}}</td>
			<td>{{row.name}}</td>
			<td>
				<a class="action downloadLink" href="uploads/{{row.path}}{{row.name}}"> Download </a>
			</td>
		</tr>
	</tbody>
</table>
