<header id="pageTop">
	<h1>Extension Codes</h1>
</header>
<section id="page">
	<button class="bigAddButton" ui-sref="extCodeCreate"><b></b>Generate a new Extension Code</button>
	<div>
	<table class="extCodeGrid dataGrid" 
		st-table="extCodes.displayList"
		st-safe-src="extCodes.extList">
		<thead>
			<tr>
				<th colspan="7" class="searchBar">
					<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
				</th>
			</tr>
			<tr>
				<th>Code</th>
				<th st-sort="student_id">Student</th>
				<th st-sort="status">Status</th>
				<th class="mobileShy" st-sort="created">Created</th>
				<th st-sort="student_records_id">Created By</th>
				<th st-sort="expires_date">Expires</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in extCodes.displayList">
				<td>{{row.title}}</td>
				<td person-menu="row.student_id">{{row.student_id}}</td>
				<td>{{row.status}}</td>
				<td class="mobileShy">{{row.created | date:'d-M-yyyy'}}</td>
				<td person-menu="row.user_id">{{row.user_id}}</td>
				<td>{{row.expires_date | date:'d-M-yyyy'}}</td>
				<td>
					<a ui-sref="extCodeEdit({id: row.id})" class="editExtCode">Edit</a>
				</td>
			</tr>
		</tbody>
	
	</table>
	</div>
</section>
<section ui-view class="formContainer" ng-class="{isVisible : extForm.modal}"></section>
