<section class="itemForm">
    <h2 ng-show="assignForm.mode == 'create'">Add An Assignment</h2>
    <h2 ng-show="assignForm.mode == 'edit'">Assignment Edit</h2>
    <form name="assignmentForm" novalidate>
            <div class="formRow">
                <label>Assignment Name:</label>
                <input class="formItemTitle" type="text" name="name" ng-model="assignForm.item.name" placeholder="ie. Type Poster" ng-required="true"/>
            </div>
            <div class="formRow">
                <label>Assignment Due Date:</label>
                <quick-datepicker type="datetime" disable-timepicker="true" required
                    name="due-date" 
                    ng-model="assignForm.item.due" 
                    placeholder="Due Date" 
                    class="datePicker"></quick-datepicker>
                <aside>(if blank the class end date will be used)<aside>
            </div>
            <div class="formRow">
                <label class="inline" for="visibility">Make assignment visible to students:</label>
                <input type="checkbox"
                    id="visibility"
                    ng-model="assignForm.item.visibility"
                    ng-true-value="1"
                    ng-false-value="0"/>
            </div>
        </form>
        <div ng-show="assignForm.message == ''">
        <div class="formButtonBar" ng-show="assignForm.mode == 'create'">
            <button type="submit" 
                ng-click="assignForm.createItem()" 
                class="action saveItemButton" 
                ng-disabled="assignmentForm.$invalid">Create Assignment</button>
            <a ui-sref="^" class="action cancel">Cancel</a>
        </div>
        <div class="formButtonBar" ng-show="assignForm.mode == 'edit'" ng-class="{deleting: assignForm.deleting}">
            <button type="submit" 
                ng-click="assignForm.updateItem()" 
                class="action saveItemButton" 
                ng-disabled="assignmentForm.$invalid">Update Assignment</button>
            <button ng-click="assignForm.toggleDelete()" class="action delete"><span>Delete Assignment</span></button>
            <span class="bubble leftpoint warn">
                <button ng-click="assignForm.deleteItem()" class="reallyDelete">Delete</button> 
                <a ng-click="assignForm.toggleDelete()" class="action cancel">cancel</a>
            </span>
            <a ui-sref="^" class="action cancel">Cancel</a>
        </div>
    </div>
    <div class="formMessage" ng-show="assignForm.message != ''">{{assignForm.message}}</div>
</section>