<nav id="classTabs">
	<ui-select ng-model="cls.classSelection" theme="select2" ng-disabled="disabled" on-select="cls.classSwitcher($item, $model)">
		<ui-select-match placeholder="Select a class">{{$select.selected.title}}</ui-select-match>
		<ui-select-choices repeat="item.slug as item in cls.classList">
			<div ng-bind="item.title" class="uiSelectOption"></div>
		</ui-select-choices>
	</ui-select> 
	<ul class="classNavOptions">
		<li ui-sref-active="active">
			<a ui-sref="classAssignments">Assignments</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="classEnrollment">Enrollment</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="classFeedback">Feedback</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="classDocumentation">Documentation</a>
		</li>
	</ul>
</nav>
<section ui-view id="classPages"></section>