<section class="itemForm">
	<h2>Enroll Students in this class</h2>
	<form name="classEnrollmentEditForm" novalidate>
		<ui-select multiple ng-model="clsEnrollForm.newEnrollments" theme="select2" ng-disabled="disabled" class="enrollmentSelect">
			<ui-select-match placeholder="Select Students to Enroll">{{$item.first_name}} {{$item.last_name}} - {{$item.email}}</ui-select-match>
			<ui-select-choices repeat="student in clsEnrollForm.studentList | filter:$select.search">
				{{student.first_name}} {{student.last_name}}
			</ui-select-choices>
		</ui-select>
	</form>
	<div class="formButtonBar" ng-show="clsEnrollForm.message == ''">
		<button type="submit" 
			ng-click="clsEnrollForm.addEnrollment()" 
			class="action saveItemButton" 
			ng-disabled="clsEnrollForm.newEnrollments == 0">Add these students</button>
		<a ui-sref="^" class="action cancel">Cancel</a>
	</div>
	<div class="formMessage" ng-show="clsEnrollForm.message != ''">{{clsEnrollForm.message}}</div>
</section>

