<header id="pageTop"><h1>Prague College Academic Programs</h1></header>
<section id="page">
	<button class="bigAddButton" ng-click="programs.newItem.showCreateForm()"><b></b>Add a Program</button>
	<div masonry column-width="480" load-images="false">
		<div 	class="programBlock itemBlock masonry-brick" 
				ng-class="{editMode: prgBlock.edit.editing, deleting: prgBlock.edit.deleting}"
				ng-repeat="program in globals.programList"
				data-ng-controller="programBlockController as prgBlock">
			<section class="front">
				<header>
					<h2 ui-sref="programView({semester: globals.currentSemester, program: program.slug})" class="action">{{program.title}}</h2>
					<a class="action edit white" ng-click="prgBlock.edit.toggle()"><span>edit</span></a>
				</header>
				<article>
					<div class="left programDataLeft">
						<p>Led by 
							<a ng-repeat="pl in program.program_authorizations">
								{{pl.program_leader.first_name}} {{pl.program_leader.last_name}}
							</a>
						</p>
						<div class="programEnrollments left">
							<figure>
								<h4><span>{{program.studentCount}}</span> Students</h4>
								<!-- <h5>5:1</h5>	 -->
								<h4><span>{{program.teacherCount}}</span> Teachers</h4>
							</figure>
							<div><a ui-sref="programEnrollment({semester: globals.currentSemester, program: program.slug})">View Enrollments</a></div>
						</div>
						<div class="programSubmissions left">
							<figure id="{{prgBlock.cleanSlug(program.slug)}}"></figure>
							<div><a ui-sref="programSubmissions({semester: globals.currentSemester, program: program.slug})">View Submissions</a></div>
						</div>
					</div>
					<div class="right programDataRight">
						<h4>
							<span>{{program.moduleCount}}</span>
							<a ui-sref="programModules({semester: globals.currentSemester, program: program.slug})">Modules {{globals.currentSemester}}</a>
						</h4>
						<h4>
							<span>{{program.semesterClassesCount}}</span>
							<a ui-sref="programClasses({semester: globals.currentSemester, program: program.slug})">Classes</a>
						</h4>
					</div>
				</article>	
			</section> 
			<section class="back">
				<div>
					<form name="programEditForm" novalidate>
						<input type="text" name="title" ng-model="program.title" placeholder="Program Title" value="{{program.title}}" ng-required="true"/>
						<p><span ng-pluralize count="prgBlock.leaderCount"
			                	when="{'0': 'Add a Program Leader: ', 
			                	'one': 'Program Leader: ', 
			                	'other': 'Program Leaders: '}">
							</span>
							<select multiple 
								ui-select2="prgBlock.plSelectOptions" 
								ng-model="program.simple_program_authorizations" 
								ng-change="prgBlock.leaderCounter()"
								ng-options="leader.last_name for leader in globals.programLeaders track by leader.id">
								<!-- <option ng-repeat="leader in globals.programLeaders" value="{{leader.id}}">
									{{leader.first_name}} {{leader.last_name}}
								</option> -->
							</select>
							<button class="action add" data-select-add><span>add program leader</span></button>
						</p>
					</form>
				</div>
			</section>
			<div save-cancel-buttons 
				class="editButtonBar" 
				data-noun="Program" 
				data-crud="prgBlock.factory"
				data-object="program"
				data-params="prgBlock.params"
				data-edit="prgBlock.edit">
			</div>
		</div><!-- End program block -->
	</div>
</section>
<section id="createForm" ng-class="{isVisible: programs.newItem.creating}" ng-include="'app/webroot/tpl/part.addProgramForm.tpl.html'"></section>
<div id="modalBlocker" ng-class="{isVisible: newItem.creating}"></div>