<ul ng-controller="navController as navCtrl">
	<li loader id="logoBox" ng-include="'app/webroot/tpl/logo.tpl.html'"></li>
	<li class="navItem myClassesNav" ng-show="globals.userInfo.isTeacher" ui-sref-active="active">
		<a ui-sref="myClasses({semester: globals.currentSemester})"><span>My Classes</span></a>
	</li>
	<li class="navItem semestersNav" ui-sref-active="active">
		<a ui-sref="semesters"><span>Semesters</span></a>
	</li>
	<li class="navItem programsNav" ui-sref-active="active">
		<a class="accordionNav" ui-sref="programs"><span>Programs</span></a>
		<span class="accordionArrow" ng-class="{'open': navCtrl.programsListOpen, 'closed': !navCtrl.programsListOpen}" ng-click="navCtrl.toggleProgramsList()"></span>
		<ul ng-show="navCtrl.programsListOpen">
			<li ng-repeat="singleItem in navCtrl.programList" ui-sref-active="active" class="accordionItem">
				<a ui-sref="programView({ semester: globals.currentSemester, program: singleItem.slug })">{{ singleItem.title }}</a>
			</li>
		</ul>
	</li>
	<li class="navItem usersNav" ui-sref-active="active">
		<a ui-sref="users"><span>Users</span></a>
	</li>
	<li class="navItem extCodesNav" ui-sref-active="active">
		<a ui-sref="extCodes"><span>Extension Codes</span></a>
	</li>
</ul>