<header id="pageTop"><h1>My Profile</h1></header>
<section id="page" class="profilePage">
	<div class="profileWrapper">
		<form name="myProfileEditForm">
		<section>
			<!-- 	
				<h3>Roles</h3>
				<p>
					<span ng-repeat="role in profile.myProfile.roles_users">{{role.role.title}}{{$last ? '' : ', '}}</span>
				</p>

				<h3>User ID</h3>
				<p>{{globals.userInfo.myProfile.id}}</p>
	 		-->
			<h2>Current Classes ({{globals.currentSemester}})</h2>
			<ul class="profileClassList">
				<li ng-repeat="class in profile.studentClasses">
					<h3>{{class.title}} <span>Enrolled</span></h3>
					<ul class="profileAssignList">
						<li class="noAssignments" ng-show="class.assignments.length <= 0">No assignments in this class yet.</li>
						<li ng-repeat="assignment in class.assignments">
							<span></span> {{assignment.name}}
						</li>
					</ul>
				</li>
				<li ng-repeat="class in profile.teacherClasses">
					<h3>{{class.title}} <span>Teaching</span></h3>
					<ul class="profileAssignLIst">
						<li class="noAssignments" ng-show="class.assignments.length <= 0">No assignments in this class yet.</li>
						<li ng-repeat="assignment in class.assignments">
							<span></span> {{assignment.name}}
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<section>
			<h2>Settings</h2>
			<label for="first_name">First Name</label>
			<input name="first_name"type="text" id="first_name" ng-model="profile.myProfile.first_name" required/>
			<label for="last_name">Last Name</label>
			<input name="last_name"type="text" id="first_name" ng-model="profile.myProfile.last_name" required/>

			<label for="email_address">Email Address <span>(used for contact and sign in)</span></label>
			<input name="email_address" type="email" name="email_address" ng-model="profile.myProfile.email" required ng-keyup="profile.validateEmail()"/> 
			<span class="formNote formError" ng-show="myProfileEditForm.email_address.$error.unique">That email is already in use by another user.</span>
			<span class="formNote" ng-show="profile.validating">validating...</span>
			<button class="linkButton" ng-click="profile.validateEmail()" ng-show="myProfileEditForm.email.$dirty">Validate this email</button>

			<div class="formRow" ng-hide="profile.passwordEdit">
				<button class="action linkButton" ng-click="profile.passwordEdit = true">Change Password</button>
			</div>
			<div class="formRow" ng-show="profile.passwordEdit">
				<label for="password">Password</label>
				<input name="password"type="password" id="password" ng-model="profile.myProfile.password"/>
				<label for="password_again">Password Again</label>
				<input name="password_again"type="password" id="password_again" ng-model="profile.myProfile.password_again" check-same="password true"/>
				<span class="formNote warn" ng-show="myProfileEditForm.password_again.$error.match">Those passwords don't match</span>
			</div>
			

			<!-- <h3>Email Notifications</h4>
			<ul class="notificationOptions">
				<li><label><input type="checkbox" ng-model="profile.myProfile.submission_notifications"/> New Submissions for my assignments (daily)</label></li>
				<li><label><input type="checkbox" ng-model="profile.myProfile.enrollment_notifications"/> Changes to enrollment in my classes (immediate)</label></li>
			</ul> -->
			<div class="saveCancel formRow" ng-show="profile.message == ''">
				<button class="saveChanges" ng-disabled="myProfileEditForm.$invalid || myProfileEditForm.$pristine" ng-click="profile.saveProfile()">Save Changes</button>
				<a class="cancel" ng-click="profile.cancelEdit()">Cancel Edits</a>
			</div>
			<div class="formMessage ok" ng-show="profile.message != ''">{{profile.message}}</div>
		</section>
		<div class="clear"></div>
	</form>
	</div>
</section>