<ul ng-controller="navController as navCtrl">
	<li loader id="logoBox" ng-include="'app/webroot/tpl/logo.tpl.html'"></li>
	<li class="navItem myClassesNav" ui-sref-active="active">
		<a ui-sref="myClasses({semester: globals.currentSemester})"><span>My Classes</span></a>
	</li>
</ul>