<section class="itemForm">
	<h2 ng-show="modForm.mode == 'create'">Add A Module</h2>
	<h2 ng-show="modForm.mode == 'edit'">Module Edit</h2>
	<form name="moduleForm" novalidate>
		<div class="formRow">
			<label>Title:</label>
			<input class="formItemTitle" type="text" name="title" ng-model="modForm.item.title" placeholder="Module Title" value="{{prgModules.item.title}}" ng-required="true"/>
		</div>
		<div class="formRow">
			<label>Module Short Name:</label>
			<input type="text" class="inputShort" name="shortname" ng-model="modForm.item.short_name" placeholder="Short Name (optional)" value="{{prgModules.item.short_name}}"/>
			<aside>This will appear in places where the full name is too long.</aside>
		</div>
		<div class="formRow">
			<label>Unit Number:</label>
			<input type="text" class="inputShort" name="unitnumber" ng-model="modForm.item.unit_number" placeholder="Unit Number" value="{{prgModules.item.unit_number}}" ng-required="true"/>
		</div>
		<div class="formRow">
			<label>Default Teachers:</label>
			<ui-select multiple ng-model="modForm.item.teacher_id" theme="select2" ng-disabled="disabled" on-select="classForm.onSelect($item, $model)" on-remove="classForm.onRemove($item, $model)">
				<ui-select-match placeholder="Select a Teacher">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
				<ui-select-choices repeat="teacher.id as teacher in globals.teachers | filter:$select.search">
					{{teacher.first_name}} {{teacher.last_name}}
				</ui-select-choices>
			</ui-select>
			<aside>These teachers will be automatically added when creating new classes for this module, but can be overridden later on.</aside>
		</div>
	</form>
	<div ng-show="modForm.message == ''">
		<div class="formButtonBar" ng-show="modForm.mode == 'create'">
			<button type="submit" 
				ng-click="modForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="moduleForm.$invalid">Create Module</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
		<div class="formButtonBar" ng-show="modForm.mode == 'edit'" ng-class="{deleting: modForm.deleting}">
			<button type="submit" 
				ng-click="modForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="moduleForm.$invalid">Update Module</button>
			<button ng-click="modForm.toggleDelete()" class="action delete"><span>Delete Module</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="modForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="modForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="modForm.message != ''">{{modForm.message}}</div>
</section>